<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Myself</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<nav>
  <div id="table">
  <table>
    <tr>
      <td><a href="/">Home page</a></td>
      <td><a href="/about">About Me</a></td>
      <td><a href="/projects">Projects page</a></td>
      <td><a href="/services">Services page</a></td>
      <td><a href="/contact">Contact Me</a></td>
    </tr>
  </table>
  </div>
</nav>

