<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Myself</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<nav>
  <table>
    <tr>
      <td><a href="/HomePage">Home page</a></td>
      <td><a href="/AboutMe">About Me</a></td>
      <td><a href="/ProjectsPage">Projects page</a></td>
      <td><a href="/ServicesPage">Services page</a></td>
      <td><a href="/ContactMe">Contact Me</a></td>
    </tr>
  </table>
</nav>

