<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Myself</title>
</head>

<nav>
  <table>
    <tr>
      <td><a href="/ContactMe">ContactMe</a></td>
      <td><a href="/HomePage">HomePage</a></td>
    </tr>
  </table>
</nav>

