<% include ./Partials/header.ejs %>

<h1>About</h1>
<p id="about"> 
    I am studying in Georgian College enrolled in computer programming course for</br>
    two years. So far i study database, java, web programming, c#, project management,</br>
    java script, and php. I am good at web programming and c#. 
</p>

<% include ./Partials/footer.ejs%>