<% include ./Partials/header.ejs %>

<h1>Contact Me</h1>
<table>
    <tr>
        <td>Your Name:</td>
    </tr>
    <tr>
        <td>Eamil:</td>
    </tr>
    <tr>
        <td>Phone:</td>
    </tr>
    <tr>
        <td>Comments:</td>
    </tr>
</table>

<% include ./Partials/footer.ejs%>