<% include ./Partials/header.ejs %>

<h1>Sahil Verma</h1>
<div id="index">
<p> 
    Thanks for giving your time on this website. This is an assignment given </br> 
    by my professor Rich Freeman on node.js using express.js and ejs templates.</br>
    This site is based on my background, what projects i worked upon and my experiances.
</p>
</div>
<img src="/images/sahil verma.jpg" alt=" " style="width:280px;height:350px;">

<% include ./Partials/footer.ejs%>