<% include ./Partials/header.ejs %>

<h1>Projects</h1>
<div class="container-fluid">
<div id="languages" class="row">

<div class="col-md-4 col-sm-12 col-xs-12">
<h2>C#</h2>
<p>Calulator</p>
<p>Sharp Mail Order</p>
<p>Sharp Auto Center</p>
</div>

<div class="col-md-4 col-sm-12 col-xs-12">
<h2>Java</h2>
<p>Car</p>
<p>Person</p>
</div>

<div class="col-md-4 col-sm-12 col-xs-12">
<h2>Web Programming</h2>
<p>Node Calulator</p>
<p>Express Portfolio</p>
</div>

</div>
</div>

<% include ./Partials/footer.ejs%>