<% include ./Partials/header.ejs %>

<h1>Services</h1>
<table id="service"> 
    <tr>
        <td>Web Development</td>
    </tr>
    <tr>
        <td>Java</td> 
    </tr>
    <tr>
        <td>C#</td> 
    </tr>
    <tr>
        <td>Data base</td> 
    </tr>
    <tr>
        <td>Java Script</td> 
    </tr>
</table>

<% include ./Partials/footer.ejs%>