<% include ./Partials/header.ejs %>

<h1>Services</h1>
<div id="service">
<table> 
    <tr>
        <td>Web Development</td>
    </tr>
    <tr>
        <td>Java</td> 
    </tr>
    <tr>
        <td>C#</td> 
    </tr>
    <tr>
        <td>Data base</td> 
    </tr>
    <tr>
        <td>Java Script</td> 
    </tr>
</table>
</div>

<% include ./Partials/footer.ejs%>